<% if user_signed_in? || admin_signed_in? %>
  <% if admin_signed_in? || current_user.id == @profile.user.id %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <h1 class="text-center">Edit your Profile</h1>
          <p class="text-center">Need a change?  Do so here.</p>
          <div class="well">
            <%= render 'form' %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>