<div class="text-center container-fluid">
  <h1>About Pet Trading Database</h1><br/>
  <p>
  Pet Trading Database is a site where users of Neopets can find and list 
  pets up for trade or up for adoption.  You'll be able to create an account 
  and profile that will show all your pets up for trade and adoption when another 
  user clicks on your profile.  Users can then message you through the site, so 
  you don't have to worry about them mention Pet Trading Database in a neomail!
  </p></br>
  <p>Site developed by mike11695</p>
</div>
<br/>
<div class="text-center container-fluid">
  <div class="divider">
  <div class="center">
    <%= image_tag("alienaisha.gif") %>
  </div>
  </div>
  <div class="ad">
    Ads go here
  </div>
</div>