<div class="text-center container-fluid">
  <h2>Pet Trading Database</h2>
  <p>Find and list neopets UFT/UFA!</p>
  <div class="divider">
    <div class="center">
      <%= image_tag("alienaisha.gif") %>
    </div>
  </div>
<div>