<div class="text-center container-fluid">
  <h1>Pet Trading Database</h1>
  <p>Find and list neopets UFT/UFA!</p>
  <div class="divider">
    <div class="center">
      <%= image_tag("alienaisha.gif") %>
    </div>
  </div>
  <div class="well home-well">
    <h3>Newest pets UFT</h3>
  </div>
  <div class="well home-well">
    <h3>Newest pets UFA</h3>
  </div>
  <div class="row">
    <div class="well search-well">
      <h3>Search by color</h3>
    </div>
    <div class="well search-well">
      <h3>Search by special tag</h3>
    </div>
  </div>
  <div class="divider">
    <div class="center">
      <%= image_tag("alienaisha.gif") %>
    </div>
  </div>
  <div class="ad">
    Ads go here
  </div>
<div>