<div class="text-center container-fluid">
  <h2>Pet Trading Database</h2>
  <p>Find and list neopets UFT/UFA!</p>
  <div class="divider">
    <div class="center">
      <img src="http://images.neopets.com/new_shopkeepers/2171.gif"></img>
    </div>
  </div>
<div>