<div class="container-fluid">
  <h1 class="text-center">Rules</h1>
  <div class="well col-md-6 col-md-offset-3 text-center">
    <div class="rules-container text-left">
      <p><b>Rule #1</b>: Do not submit pets that do not belong to you or you 
      were not given permission to advertise.</p>
      <p><b>Rule #2</b>: Any pets you submit must clearly be labeled UFT/UFA on 
      their pet lookup or petpage.</p>
      <p><b>Rule #3</b>: Do not harass any other users on the site or on Neopets. This 
      includes spamming a user with messages, threatening them, etc.</p>
      <p><b>Rule #4</b>: You must be 13 years or older in order to use the site.</p>
      <p><b>Rule #5</b>: Do not abuse any part of the site.</p>
    </div>
  </div>
</div>