/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import 'bootstrap-sprockets';
@import 'bootstrap';

// Typography style for headers
h1, h2, h3 {
  font-family: 'Orbitron', sans-serif;
}

h4 {
  font-family: 'Exo', sans-serif;
}

// Typography style for paragraphs
p {
  font-family: 'Exo', sans-serif;
}

// Nav styles
.navbar {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #000000 , #434343); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #000000 , #434343); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: none;
}

.navbar-default .navbar-brand, 
.navbar-default .navbar-nav >  li > a {
  color: white;
  font-family: 'Electrolize', sans-serif;
  display: inline-block;
  &:hover {
    color: white;
    opacity: 0.75;
  }
}

.navbar-image {
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  margin-top: -15px;
  margin-right: 10px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: white;
}

.navbar-default .navbar-toggle {
  border: 2px solid white;
  &:hover, &:focus {
    background-color: #00c6ff;
  }
}

// Image styles
.divider{ 
  position: relative;
  max-width: auto;
  margin: 0 auto;
  overflow: hidden;
}

.center{
  width: 150px;
  height: 150px;
  background: black;
  margin: 0 auto;
}

.divider:before{
  position: absolute;
  content: "";
  border-bottom: 1px solid;
  left: -30px;
  height: 25px;
  width: 50%;
  top: 50px;
  z-index: -1;
}

.divider:after{
  position: absolute;
  content:"";
  border-bottom: 1px solid;
  right: -30px;
  top: 50px;
  height: 25px;
  width: 50%;
  z-index: -1;
}

// Well Styles
.well.home-well {
  margin-top: 25px;
}

.well.contact-well {
  margin-top: 50px;
}

.well.search-well {
  margin-top: 25px;
  width: 50%;
  display: inline-block;
}

// Ads
.ad {
  margin-top: 50px;
  margin-bottom: 20px;
}

// Horizontal line styles
.row-line-break {
  color: black;
  width: auto;
}

// Link divider
.link-divide {
  color: white;
  font-size: 26px;
  margin-top: 5px;
  padding-left: -10px;
  padding-right: -10px;
}

// Hide alert notices
.alert-notice {
  display: none;
}

// Conversations
.width {
  width: 50%;
}

.hide-overflow {
  overflow: hidden;
}

.rules-container {
  background: white;
  border: 1px solid grey;
  overflow: auto;
  padding: 10px;
}

.conversation-box {
  width: 400px; 
  height: 50px;
  margin-left: auto; 
  margin-right: auto;
}

.conversation-box-2 {
  width: 500px; 
  height: 50px;
  margin-left: auto; 
  margin-right: auto;
}

.align {
  position: absolute;
}

.check {
  height: 20px;
  width: 20px;
}
