.avatar-show-img {
  width: 128px;
  height: 128px;
  border: 10px double black;
  border-radius: 50%;
}

.pet-show-img {
  width: 200px;
  height: 200px;
  border: 10px double black;
  border-radius: 50%;
}

.user-index-avatar {
  width: 64px;
  height: 64px;
  border: 5px double black;
  border-radius: 50%;
  float: left;
}

.user-index-avatar-red {
  width: 64px;
  height: 64px;
  border: 5px double red;
  border-radius: 50%;
  float: left;
}

.inline-pets {
  display: inline-block;
  margin: 0px 5px 5px 5px;
}

// For users index page
.well.white-bg {
  background-color: white;
}

.inline {
  display: inline-block;
}

.users-inline {
  display: inline-block;
  width: 50%;
  float: center;
  margin-left: 20%;
  border-radius: 5px;
  padding: 2.5px;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
  margin-left: 20px;
}

.fix-margin {
  margin-top: 25px;
}

// Horizontal line styles
hr.style-one {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
  width: 75%;
}

hr.style-four {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
    width: 100%;
    margin-bottom: 0px;
}
